.DS_Store

# Ignore HDFS data folders
base/hdfs/

# Ignore Postgres data if host path is used later
base/postgresql/

# Ignore MySQL data directory
base/mysql/data/

# Ignore Kafka log directories
base/kafka/
datastes/web_sales.csv
snippets/
# Ignore all Zookeeper data
base/zookeeper/

base/mapreduce_examples/classes/
base/notebooks/.ipynb_checkpoints/
datasets/
